# 第2章 NumPy基础

本章涵盖以下内容：
- 数据类型；
- 数组类型；
- 类型转换；
- 创建数组；
- 数组索引；
- 数组切片；
- 改变维度。

## 2.1 NumPy 数组对象

NumPy中的ndarray是一个多维数组对象，该对象由两部分组成：
- 实际的数据；
- 描述这些数据的元数据。

　　NumPy数组一般是同质的（但有一种特殊的数组类型例外，它是异质的），即数组中的所有元素类型必须是一致的。这样有一个好处：如果我们知道数组中的元素均为同一类型，该数组所需的存储空间就很容易确定下来。  
  
  　与Python中一样， NumPy数组的下标也是从0开始的。

In [1]:
import numpy as np

a = np.arange(5)
a.dtype

dtype('int32')

In [2]:
a

array([0, 1, 2, 3, 4])

In [3]:
a.shape

(5,)

In [4]:
a.ndim

1

## 2.2 动手实践：创建多维数组

In [5]:
m = np.array([np.arange(2), np.arange(2)])
m

array([[0, 1],
       [0, 1]])

In [6]:
m.shape

(2, 2)

#### 2.2.1 选取数组元素

In [7]:
a = np.array([[1,2], [3,4]])
a

array([[1, 2],
       [3, 4]])

In [8]:
a[0,0]

1

In [9]:
a[0,1]

2

In [10]:
a[1,0]

3

In [11]:
a[1,1]

4

是的，从数组中选取元素就是这么简单。对于数组a，只需要用a[m,n]选取各数组元素，其
中m和n为元素下标，对应的位置如下表所示。

#### 2.2.2 NumPy 数据类型

![NumPy数据类型](./Image/2-1.png)

In [12]:
np.float64(42)

42.0

In [13]:
np.int8(42.0)

42

In [14]:
np.bool(42)

True

In [15]:
np.bool(0)

False

In [16]:
np.bool(42.0)

True

In [17]:
np.float(False)

0.0

In [18]:
np.float(True)

1.0

在NumPy中，许多函数的参数中可以指定数据类型，通常这个参数是可选的：

In [19]:
np.arange(7, dtype=np.uint16)

array([0, 1, 2, 3, 4, 5, 6], dtype=uint16)

需要注意的是，复数是不能转换为整数的，这将触发TypeError错误：

In [20]:
np.int(42.0 + 1.j)

TypeError: can't convert complex to int

同样，复数也不能转换为浮点数。不过，浮点数却可以转换为复数，例如complex(1.0)。注意，
有j的部分为复数的虚部。

In [21]:
np.complex(1.0)

(1+0j)

#### 2.2.3 数据类型对象

　　数据类型对象是numpy.dtype类的实例。如前所述， NumPy数组是有数据类型的，更确切
地说， NumPy数组中的每一个元素均为相同的数据类型。数据类型对象可以给出单个数组元素在
内存中占用的字节数，即dtype类的itemsize属性：

In [22]:
a.dtype.itemsize

4

In [23]:
a.itemsize

4

#### 2.2.4 字符编码

#### 2.2.5 自定义数据类型

#### 2.2.6 dtype 类的属性

## 2.3 动手实践：创建自定义数据类型

## 2.4 一维数组的索引和切片

一维数组的切片操作与Python列表的切片操作很相似。例如，我们可以用下标3~7来选取元
素3~6：

In [24]:
a = np.arange(9)
a[3:7]

array([3, 4, 5, 6])

也可以用下标0~7，以2为步长选取元素：

In [25]:
a[:7:2]

array([0, 2, 4, 6])

和Python中一样，我们也可以利用负数下标翻转数组：

In [26]:
a[::-1]

array([8, 7, 6, 5, 4, 3, 2, 1, 0])

## 2.5 动手实践：多维数组的切片和索引

ndarray支持在多维数组上的切片操作。为了方便起见，我们可以用一个省略号（...）来
表示遍历剩下的维度。

(1) 举例来说，我们先用arange函数创建一个数组并改变其维度，使之变成一个三维数组：

In [27]:
b = np.arange(24).reshape(2,3,4)

In [28]:
b.shape

(2, 3, 4)

In [29]:
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

(2) 我们可以用三维坐标来选定任意一个房间，即楼层、行号和列号。例如，选定第1层楼、
第1行、第1列的房间（也可以说是第0层楼、第0行、第0列，这只是习惯问题），可以这样表示：

In [30]:
b[0,0,0]

0

(3) 如果我们不关心楼层，也就是说要选取所有楼层的第1行、第1列的房间，那么可以将第1
个下标用英文标点的冒号:来代替：

In [31]:
b[:,0,0]

array([ 0, 12])

In [32]:
b[0]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

我们还可以这样写，选取第1层楼的所有房间：

In [33]:
b[0,:,:]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

多个冒号可以用一个省略号（...）来代替，因此上面的代码等价于：

In [34]:
b[0,...]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

进而可以选取第1层楼、第2排的所有房间：

In [35]:
b[0,1]

array([4, 5, 6, 7])

(4) 再进一步，我们可以在上面的数组切片中间隔地选定元素：

In [36]:
b[0,1,::2]

array([4, 6])

(5) 如果要选取所有楼层的位于第2列的房间，即不指定楼层和行号，用如下代码即可：

In [37]:
b[...,1]

array([[ 1,  5,  9],
       [13, 17, 21]])

类似地，我们可以选取所有位于第2行的房间，而不指定楼层和列号：

In [38]:
b[:,1]

array([[ 4,  5,  6,  7],
       [16, 17, 18, 19]])

如果要选取第1层楼的所有位于第2列的房间，在对应的两个维度上指定即可：

In [39]:
b[0,:,1]

array([1, 5, 9])

(6) 如果要选取第1层楼的最后一列的所有房间，使用如下代码：

In [40]:
b[0,:,-1]

array([ 3,  7, 11])

如果要反向选取第1层楼的最后一列的所有房间，使用如下代码：

In [41]:
b[0,::-1,-1]

array([11,  7,  3])

在该数组切片中间隔地选定元素：

In [42]:
b[0,::2,-1]

array([ 3, 11])

如果在多维数组中执行翻转一维数组的命令，将在最前面的维度上翻转元素的顺序，在我们
的例子中将把第1层楼和第2层楼的房间交换：

In [43]:
b[::-1]

array([[[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

## 2.6 动手实践：改变数组的维度

我们已经学习了怎样使用reshape函数，现在来学习一下怎样将数组展平。

(1) ravel 我们可以用ravel函数完成展平的操作：

In [44]:
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [45]:
b.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

(2) flatten 这个函数恰如其名， flatten就是展平的意思，与ravel函数的功能相同。
不过，flatten函数会请求分配内存来保存结果，而ravel函数只是返回数组的一个视图（view）：

In [46]:
b.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

(3) 用元组设置维度 除了可以使用reshape函数，我们也可以直接用一个正整数元组来设
置数组的维度，如下所示：

In [47]:
b.shape = (6,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

(4) transpose 在线性代数中， 转置矩阵是很常见的操作。对于多维数组，我们也可以这样做：

In [48]:
b.transpose()

array([[ 0,  4,  8, 12, 16, 20],
       [ 1,  5,  9, 13, 17, 21],
       [ 2,  6, 10, 14, 18, 22],
       [ 3,  7, 11, 15, 19, 23]])

(5) resize resize和reshape函数的功能一样，但resize会直接修改所操作的数组：

In [49]:
b.resize((2,12))
b

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

## 2.7 数组的组合

NumPy数组有水平组合、垂直组合和深度组合等多种组合方式，我们将使用vstack、
dstack、 hstack、 column_stack、 row_stack以及concatenate函数来完成数组的组合。

## 2.8 动手实践：组合数组

首先，我们来创建一些数组：

In [50]:
a = np.arange(9).reshape(3,3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [51]:
b = a * 2
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

(1) 水平组合 我们先从水平组合开始练习。将ndarray对象构成的元组作为参数，传给
hstack函数。如下所示：

In [52]:
np.hstack((a, b))

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

我们也可以用concatenate函数来实现同样的效果，如下所示：

In [53]:
np.concatenate((a, b), axis=1)

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

![2-2](./Image/2-2.png)

(2) 垂直组合 垂直组合同样需要构造一个元组作为参数，只不过这次的函数变成了vstack。如下所示：

In [54]:
np.vstack([a, b])

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [55]:
np.concatenate([a, b], axis = 0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

![2-3](./Image/2-3.png)

##### (3) 深度组合

　　将相同的元组作为参数传给dstack函数，即可完成数组的深度组合。所谓深度组合，就是将一系列数组沿着纵轴（深度）方向进行层叠组合。举个例子，有若干张二维平面内的图像点阵数据，我们可以将这些图像数据沿纵轴方向层叠在一起，这就形象地解释了什么是深度组合。

In [56]:
np.dstack((a, b))

array([[[ 0,  0],
        [ 1,  2],
        [ 2,  4]],

       [[ 3,  6],
        [ 4,  8],
        [ 5, 10]],

       [[ 6, 12],
        [ 7, 14],
        [ 8, 16]]])

In [57]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [58]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

##### (4) 列组合

column_stack函数对于一维数组将按列方向进行组合，如下所示：

In [59]:
oned = np.arange(2)
oned

array([0, 1])

In [60]:
twice_oned = 2 * oned
twice_oned

array([0, 2])

In [61]:
np.column_stack((oned, twice_oned))

array([[0, 0],
       [1, 2]])

而对于二维数组， column_stack与hstack的效果是相同的：

In [65]:
np.column_stack((a, b))

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

In [66]:
np.column_stack((a, b)) == np.hstack((a, b))

array([[ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True]], dtype=bool)

##### (5) 行组合

当然， NumPy中也有按行方向进行组合的函数，它就是row_stack。对于两
个一维数组，将直接层叠起来组合成一个二维数组。

In [67]:
np.row_stack((oned, twice_oned))

array([[0, 1],
       [0, 2]])

对于二维数组， row_stack与vstack的效果是相同的：

In [68]:
np.row_stack((a, b))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [69]:
np.row_stack((a, b)) == np.vstack((a, b))

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)

## 2.10 动手实践：分割数组

(1) 水平分割 下面的代码将把数组沿着水平方向分割为3个相同大小的子数组：

In [70]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [71]:
np.hsplit(a, 3)

[array([[0],
        [3],
        [6]]), array([[1],
        [4],
        [7]]), array([[2],
        [5],
        [8]])]

对同样的数组，调用split函数并在参数中指定参数axis=1，对比一下结果：

In [74]:
np.split(a, 3, axis=1)

[array([[0],
        [3],
        [6]]), array([[1],
        [4],
        [7]]), array([[2],
        [5],
        [8]])]

(2) 垂直分割 vsplit函数将把数组沿着垂直方向分割：

In [75]:
np.vsplit(a, 3)

[array([[0, 1, 2]]), array([[3, 4, 5]]), array([[6, 7, 8]])]

同样，调用split函数并在参数中指定参数axis=0，也可以得到同样的结果：

In [76]:
np.split(a, 3, axis=0)

[array([[0, 1, 2]]), array([[3, 4, 5]]), array([[6, 7, 8]])]

(3) 深度分割 不出所料， dsplit函数将按深度方向分割数组。我们先创建一个三维数组：

In [78]:
c = np.arange(27).reshape(3, 3, 3)
c

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [79]:
np.dsplit(c, 3)

[array([[[ 0],
         [ 3],
         [ 6]],

        [[ 9],
         [12],
         [15]],

        [[18],
         [21],
         [24]]]), array([[[ 1],
         [ 4],
         [ 7]],

        [[10],
         [13],
         [16]],

        [[19],
         [22],
         [25]]]), array([[[ 2],
         [ 5],
         [ 8]],

        [[11],
         [14],
         [17]],

        [[20],
         [23],
         [26]]])]

## 2.11 数组的属性

除了shape和dtype属性以外， ndarray对象还有很多其他的属性，在下面一一列出。

ndim属性，给出数组的维数，或数组轴的个数：

In [80]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [81]:
b.ndim

2

size属性，给出数组元素的总个数，如下所示：

In [82]:
b.size

9

itemsize属性，给出数组中的元素在内存中所占的字节数：

In [83]:
b.itemsize

4

如果你想知道整个数组所占的存储空间，可以用nbytes属性来查看。这个属性的值其实
就是itemsize和size属性值的乘积：

In [87]:
b.nbytes

36

In [88]:
b.size * b.itemsize

36

T属性的效果和transpose函数一样，如下所示：

In [96]:
b.resize(9, 1)

In [97]:
b

array([[ 0],
       [ 2],
       [ 4],
       [ 6],
       [ 8],
       [10],
       [12],
       [14],
       [16]])

In [98]:
b.T

array([[ 0,  2,  4,  6,  8, 10, 12, 14, 16]])

 对于一维数组，其T属性就是原数组：

In [100]:
b = np.array([1,2,3])
b

array([1, 2, 3])

In [101]:
b.T

array([1, 2, 3])

## 2.12 动手实践：数组的转换

我们可以使用tolist函数将NumPy数组转换成Python列表。

(1) 转换成列表：

In [103]:
b = np.array([1.+1.j, 3.+2.j])
b

array([ 1.+1.j,  3.+2.j])

In [104]:
b.tolist()

[(1+1j), (3+2j)]

##### (2) astype函数可以在转换数组时指定数据类型：

In [105]:
b.astype(np.int)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ComplexWarning: Casting complex values to real discards the imaginary part
  """Entry point for launching an IPython kernel.

array([1, 3])

## 2.13 本章小结