In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
pwd

'C:\\Users\\hasee\\Documents\\Python Scripts\\MyGit\\Course\\imooc\\Python制作数据分析工具'

In [9]:
df = pd.read_csv('./Data/train.csv')
label = df['TARGET']
df = df.drop(['ID', 'TARGET'], axis=1)

In [10]:
df.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [11]:
missSet = [np.nan, 9999999999, -999999]

In [12]:
len(df.iloc[:,0].unique())

208

In [15]:
count_un = df.iloc[:, 0:3].apply(lambda x: len(x.unique()))
count_un

var3                  208
var15                 100
imp_ent_var16_ult1    596
dtype: int64

In [16]:
np.sum(df.iloc[:, 0] == 0)

75

In [17]:
count_zero = df.iloc[:, 0:3].apply(lambda x: np.sum(x==0))
count_zero

var3                     75
var15                     0
imp_ent_var16_ult1    72301
dtype: int64

In [18]:
np.mean(df.iloc[:, 0])

-1523.1992765061825

In [24]:
df.iloc[:, 0][~df.iloc[:, 0].isin(missSet)]
np.mean(df.iloc[:, 0][~df.iloc[:, 0].isin(missSet)])

2.717577466273187

In [25]:
df_mean = df.iloc[:, 0:3].apply(lambda x:np.mean(x[~x.isin(missSet)]))

In [28]:
df_mean

var3                   2.717577
var15                 33.212865
imp_ent_var16_ult1    86.208265
dtype: float64

In [26]:
df_median = df.iloc[:, 0:3].apply(lambda x:np.median(x[~x.isin(missSet)]))

In [27]:
df_median

var3                   2.0
var15                 28.0
imp_ent_var16_ult1     0.0
dtype: float64

In [30]:
df_mode = df.iloc[:, 0:3].apply(lambda x: stats.mode(x[~x.isin(missSet)])

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [41]:
df_mode = df.iloc[:, 0:3].apply(lambda x: stats.mode(x[~x.isin(missSet)])[0][0])

In [42]:
df_mode_count = df.iloc[:, 0:3].apply(lambda x: stats.mode(x[~x.isin(missSet)])[1][0])