# 分组级运算和转换

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

df

      data1     data2 key1 key2
0  0.129776 -0.074005    a  one
1 -0.797073 -0.464554    a  two
2  0.668042 -0.163522    b  one
3 -0.643157  2.226788    b  two
4 -1.380923 -0.373906    a  one

In [3]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')

k1_means

      mean_data1  mean_data2
key1
a      -0.682740   -0.304155
b       0.012442    1.031633

In [4]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0  0.129776 -0.074005    a  one   -0.682740   -0.304155
1 -0.797073 -0.464554    a  two   -0.682740   -0.304155
4 -1.380923 -0.373906    a  one   -0.682740   -0.304155
2  0.668042 -0.163522    b  one    0.012442    1.031633
3 -0.643157  2.226788    b  two    0.012442    1.031633

In [5]:
key = ['one', 'two', 'one', 'two', 'one']

key

['one', 'two', 'one', 'two', 'one']

In [8]:
people = pd.DataFrame(np.random.randn(5, 5),
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

people

               a         b         c         d         e
Joe     0.674803 -0.904591 -1.001244 -0.576881 -0.569136
Steve  -0.116747 -0.435769 -1.136150 -0.868507  1.243859
Wes    -2.204636 -0.155328 -1.601384 -1.479639  3.561687
Jim     0.328919 -0.078350  0.085816  0.807772 -1.616051
Travis  0.592429 -0.899608 -2.318274 -0.806375 -0.182247

In [9]:
people.groupby(key).mean()

            a         b         c         d         e
one -0.312468 -0.653176 -1.640301 -0.954298  0.936768
two  0.106086 -0.257060 -0.525167 -0.030367 -0.186096

In [10]:
people.groupby(key).transform(np.mean)

               a         b         c         d         e
Joe    -0.312468 -0.653176 -1.640301 -0.954298  0.936768
Steve   0.106086 -0.257060 -0.525167 -0.030367 -0.186096
Wes    -0.312468 -0.653176 -1.640301 -0.954298  0.936768
Jim     0.106086 -0.257060 -0.525167 -0.030367 -0.186096
Travis -0.312468 -0.653176 -1.640301 -0.954298  0.936768

In [11]:
def demean(arr):
    return arr - arr.mean()

In [13]:
demeaned = people.groupby(key).transform(demean)

demeaned

               a         b         c         d         e
Joe     0.987271 -0.251415  0.639057  0.377417 -1.505904
Steve  -0.222833 -0.178709 -0.610983 -0.838139  1.429955
Wes    -1.892167  0.497848  0.038916 -0.525341  2.624919
Jim     0.222833  0.178709  0.610983  0.838139 -1.429955
Travis  0.904897 -0.246432 -0.677973  0.147923 -1.119015

In [14]:
demeaned.groupby(key).mean()

                a    b    c             d             e
one  7.401487e-17  0.0  0.0  1.480297e-16  7.401487e-17
two  0.000000e+00  0.0  0.0  0.000000e+00  0.000000e+00

## apply：一般性的“拆分-应用-合并”

In [4]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [7]:
tips = pd.read_csv('./Data/tips.csv')

tips['tip_pct'] = tips['tip'] / tips['total_bill']

top(tips, n=6)

     total_bill   tip     sex smoker  day    time  size   tip_pct
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345

In [8]:
tips.groupby('smoker').apply(top)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [9]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  94   0.142857
       Sat  212  0.186220
       Sun  156  0.103799
       Thur 142  0.121389
Yes    Fri  95   0.117750
       Sat  170  0.196812
       Sun  182  0.077178
       Thur 197  0.115982

In [10]:
result = tips.groupby('smoker')['tip_pct'].describe()

result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [11]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [12]:
f = lambda x: x.describe()

grouped.apply(f)

NameError: name 'grouped' is not defined

## 禁止分组键

In [14]:
tips.groupby('smoker').apply(top)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [13]:
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip     sex smoker   day    time  size   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [15]:
tips.groupby('smoker', as_index=False).apply(top)

       total_bill   tip     sex smoker   day    time  size   tip_pct
0 88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
  185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
  51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
  149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
  232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
1 109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
  183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
  67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
  178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
  172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

## 示例：用特定于分组的值填充缺失值

In [3]:
s = pd.Series(np.random.randn(6))

s

0   -0.724027
1   -1.248180
2    2.136260
3    0.253648
4   -0.376440
5   -0.636931
dtype: float64

In [5]:
s[::2] = np.nan

s

0         NaN
1   -1.248180
2         NaN
3    0.253648
4         NaN
5   -0.636931
dtype: float64

In [6]:
s.fillna(s.mean())

0   -0.543821
1   -1.248180
2   -0.543821
3    0.253648
4   -0.543821
5   -0.636931
dtype: float64

In [7]:
states = ['Ohio', 'New York', 'Vermont', 'Florida', 'Oregon', 'Nevada', 'California', 'Idaho']

states

['Ohio',
 'New York',
 'Vermont',
 'Florida',
 'Oregon',
 'Nevada',
 'California',
 'Idaho']

In [8]:
group_key = ['East'] * 4 + ['West'] * 4

group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [9]:
data = pd.Series(np.random.randn(8), index=states)

data

Ohio          0.684346
New York      0.529430
Vermont      -0.420308
Florida       0.344085
Oregon        0.025553
Nevada        0.519027
California   -0.626964
Idaho        -0.671533
dtype: float64

In [10]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

data

Ohio          0.684346
New York      0.529430
Vermont            NaN
Florida       0.344085
Oregon        0.025553
Nevada             NaN
California   -0.626964
Idaho              NaN
dtype: float64

In [11]:
data.groupby(group_key).mean()

East    0.519287
West   -0.300706
dtype: float64

In [12]:
fill_mean = lambda g: g.fillna(g.mean())

data.groupby(group_key).apply(fill_mean)

Ohio          0.684346
New York      0.529430
Vermont       0.519287
Florida       0.344085
Oregon        0.025553
Nevada       -0.300706
California   -0.626964
Idaho        -0.300706
dtype: float64

In [13]:
fill_values = {'East': 0.5, 'West': -1}

fill_func = lambda g: g.fillna(fill_values[g.name])

data.groupby(group_key).apply(fill_func)

Ohio          0.684346
New York      0.529430
Vermont       0.500000
Florida       0.344085
Oregon        0.025553
Nevada       -1.000000
California   -0.626964
Idaho        -1.000000
dtype: float64

## 示例：随机采样和排列

In [14]:
# 红桃（Hearts），黑桃（Spades）， 梅花（Clubs）， 方片（Diamonds）
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'Q', 'K']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)
    
deck = pd.Series(card_val, index=cards)

In [16]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
QH     10
KH     10
dtype: int64

In [17]:
def draw(deck, n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [18]:
draw(deck)

KD    10
AH     1
6C     6
KH    10
KS    10
dtype: int64

In [19]:
get_suit = lambda card: card[-1]

deck.groupby(get_suit).apply(draw, n=2)

C  10C    10
   8C      8
D  JD     10
   5D      5
H  2H      2
   4H      4
S  10S    10
   KS     10
dtype: int64

In [20]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

KC    10
QC    10
3D     3
8D     8
QH    10
2H     2
2S     2
6S     6
dtype: int64