# 重塑和轴向旋转

In [1]:
import numpy as np
import pandas as pd

### 重塑层次化索引

In [2]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index = pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns = pd.Index(['one', 'two', 'three'], name='number'))

In [3]:
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [4]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

In [5]:
type(result)

pandas.core.series.Series

In [6]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5