# 5.2 Iris经典爱丽丝

## 案例5-1 Iris爱丽丝

In [2]:
import numpy as np
import pandas as pd

In [3]:
#1
fss = './Data/iris.csv'
df = pd.read_csv(fss, index_col=False)
print('\n#1 df')
print(df.tail())
print(df.describe())

#1 df
      x1   x2   x3   x4      xname
145  6.7  3.0  5.2  2.3  virginica
146  6.3  2.5  5.0  1.9  virginica
147  6.5  3.0  5.2  2.0  virginica
148  6.2  3.4  5.4  2.3  virginica
149  5.9  3.0  5.1  1.8  virginica
               x1          x2          x3          x4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [4]:
#2
d10 = df['xname'].value_counts()
print('\n#2 xname')
print(d10)

#2 xname
versicolor    50
setosa        50
virginica     50
Name: xname, dtype: int64

In [5]:
df.describe()

               x1          x2          x3          x4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

## 案例5-2：爱丽丝进化与文本矢量化

In [6]:
#1
fss = './Data/iris.csv'
df = pd.read_csv(fss, index_col=False)

In [7]:
#2
df.loc[df['xname']=='virginica', 'xid'] = 1
df.loc[df['xname']=='setosa', 'xid'] = 2
df.loc[df['xname']=='versicolor', 'xid'] = 3
df['xid']=df['xid'].astype(int)
df.to_csv('./Data/iris2.csv',index=False)

In [9]:
#3
print('\n#3df')       
print(df.tail())
print(df.describe())

#3df
      x1   x2   x3   x4      xname  xid
145  6.7  3.0  5.2  2.3  virginica    1
146  6.3  2.5  5.0  1.9  virginica    1
147  6.5  3.0  5.2  2.0  virginica    1
148  6.2  3.4  5.4  2.3  virginica    1
149  5.9  3.0  5.1  1.8  virginica    1
               x1          x2          x3          x4         xid
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667    2.000000
std      0.828066    0.433594    1.764420    0.763161    0.819232
min      4.300000    2.000000    1.000000    0.100000    1.000000
25%      5.100000    2.800000    1.600000    0.300000    1.000000
50%      5.800000    3.000000    4.350000    1.300000    2.000000
75%      6.400000    3.300000    5.100000    1.800000    3.000000
max      7.900000    4.400000    6.900000    2.500000    3.000000

In [10]:
#4
d10=df['xname'].value_counts()
print('\n4#xname')       
print(d10)

4#xname
versicolor    50
setosa        50
virginica     50
Name: xname, dtype: int64

In [11]:
#5
d10=df['xid'].value_counts()
print('\n5#xid')       
print(d10)

5#xid
3    50
2    50
1    50
Name: xid, dtype: int64

## 案例5-3：Iris爱丽丝分解

In [12]:
#1
fss = './Data/iris2.csv'
df = pd.read_csv(fss, index_col=False)

In [13]:
#2
print('\n2#df')
print(df.tail())

2#df
      x1   x2   x3   x4      xname  xid
145  6.7  3.0  5.2  2.3  virginica    1
146  6.3  2.5  5.0  1.9  virginica    1
147  6.5  3.0  5.2  2.0  virginica    1
148  6.2  3.4  5.4  2.3  virginica    1
149  5.9  3.0  5.1  1.8  virginica    1

In [14]:
#3
xlst, ysgn = ['x1', 'x2', 'x3', 'x4'], 'xid'
x, y = df[xlst], df[ysgn]

print('\n3# xlst,',xlst)
print('ysgn,',ysgn)
print('x')
print(x.tail())
print('y')
print(y.tail())

3# xlst, ['x1', 'x2', 'x3', 'x4']
ysgn, xid
x
      x1   x2   x3   x4
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8
y
145    1
146    1
147    1
148    1
149    1
Name: xid, dtype: int64

In [15]:
#4
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)
x_test.index.name,y_test.index.name='xid','xid'
print('\n4# type')
print('type(x_train),',type(x_train))
print('type(x_test),',type(x_test))
print('type(y_train),',type(y_train))
print('type(y_test),',type(y_test))

4# type
type(x_train), <class 'pandas.core.frame.DataFrame'>
type(x_test), <class 'pandas.core.frame.DataFrame'>
type(y_train), <class 'pandas.core.series.Series'>
type(y_test), <class 'pandas.core.series.Series'>

In [16]:
#5
fs0='./Data/iris_'
print('\n5# fs0,',fs0)
x_train.to_csv(fs0+'xtrain.csv',index=False);
x_test.to_csv(fs0+'xtest.csv',index=False)
y_train.to_csv(fs0+'ytrain.csv',index=False,header=True)
y_test.to_csv(fs0+'ytest.csv',index=False,header=True)

5# fs0, ./Data/iris_