# 日期和时间数据类型及工具

In [22]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()

now

datetime.datetime(2018, 3, 2, 17, 23, 4, 266908)

In [3]:
now.year, now.month, now.day

(2018, 3, 2)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

In [8]:
start = datetime(2011, 1, 7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 字符串和datetime的相互转换

In [10]:
stamp = datetime(2011, 1, 3)

str(stamp)

'2011-01-03 00:00:00'

In [11]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [12]:
value = '2011-01-03'

datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ['7/6/2001', '8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2001, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [14]:
from dateutil.parser import parse

In [15]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
parse('6/12/2001', dayfirst=True)

datetime.datetime(2001, 12, 6, 0, 0)

In [21]:
datestrs

['7/6/2001', '8/6/2011']

In [23]:
pd.to_datetime(datestrs)

DatetimeIndex(['2001-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [24]:
datestrs + [None]

['7/6/2001', '8/6/2011', None]

In [25]:
idx = pd.to_datetime(datestrs + [None])

idx

DatetimeIndex(['2001-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
idx[2]

NaT

In [27]:
type(idx[2])

pandas._libs.tslib.NaTType

In [28]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)