# 数据聚合

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

df

      data1     data2 key1 key2
0  1.480109 -0.576777    a  one
1  0.470256 -0.326433    a  two
2  0.582763  0.470511    b  one
3  0.235931  1.274271    b  two
4  1.138387 -0.960756    a  one

In [5]:
grouped = df.groupby('key1')

In [6]:
grouped['data1'].quantile(0.9)

key1
a    1.411764
b    0.548080
Name: data1, dtype: float64