# 分组级运算和转换

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

df

      data1     data2 key1 key2
0  1.317238 -0.976134    a  one
1  3.108932 -0.280863    a  two
2 -0.334978  0.917459    b  one
3  0.198655 -0.665597    b  two
4 -0.877245 -0.076443    a  one

In [3]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')

k1_means

      mean_data1  mean_data2
key1
a       1.182975   -0.444480
b      -0.068161    0.125931

In [4]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0  1.317238 -0.976134    a  one    1.182975   -0.444480
1  3.108932 -0.280863    a  two    1.182975   -0.444480
4 -0.877245 -0.076443    a  one    1.182975   -0.444480
2 -0.334978  0.917459    b  one   -0.068161    0.125931
3  0.198655 -0.665597    b  two   -0.068161    0.125931

In [5]:
key = ['one', 'two', 'one', 'two', 'one']

key

['one', 'two', 'one', 'two', 'one']