# datetime

datetime是Python处理日期和时间的标准库。

## 获取当前日期和时间

In [1]:
from datetime import datetime

now = datetime.now() # 获取当前datetime
print(now)

print(type(now))

2018-01-29 15:08:03.670397
<class 'datetime.datetime'>

注意到datetime是模块，datetime模块还包含一个datetime类，通过from datetime import datetime导入的才是datetime这个类。  

如果仅导入import datetime，则必须引用全名datetime.datetime。  

datetime.now()返回当前日期和时间，其类型是datetime。

## 获取指定日期和时间

要指定某个日期和时间，我们直接用参数构造一个datetime：

In [2]:
dt = datetime(2015, 4, 19, 12, 20) # 用指定日期时间创建datetime
print(dt)

print(type(dt))

2015-04-19 12:20:00
<class 'datetime.datetime'>

## datetime转换为timestamp

在计算机中，时间实际上是用数字表示的。我们把1970年1月1日 00:00:00 UTC+00:00时区的时刻称为epoch time，记为0（1970年以前的时间timestamp为负数），当前时间就是相对于epoch time的秒数，称为timestamp。

你可以认为：

timestamp = 0 = 1970-1-1 00:00:00 UTC+0:00

对应的北京时间是：

timestamp = 0 = 1970-1-1 08:00:00 UTC+8:00

可见timestamp的值与时区毫无关系，因为timestamp一旦确定，其UTC时间就确定了，转换到任意时区的时间也是完全确定的，这就是为什么计算机存储的当前时间是以timestamp表示的，因为全球各地的计算机在任意时刻的timestamp都是完全相同的（假定时间已校准）。

把一个datetime类型转换为timestamp只需要简单调用timestamp()方法：

In [3]:
dt = datetime(2015, 4, 19, 12, 20) # 用指定日期时间创建datetime
print(dt.timestamp()) # 把datetime转换为timestamp

print(type(dt.timestamp()))

1429417200.0
<class 'float'>

注意Python的timestamp是一个浮点数。如果有小数位，小数位表示毫秒数。  

某些编程语言（如Java和JavaScript）的timestamp使用整数表示毫秒数，这种情况下只需要把timestamp除以1000就得到Python的浮点表示方法。

## timestamp转换为datetime

要把timestamp转换为datetime，使用datetime提供的fromtimestamp()方法：

In [4]:
t = 1429417200.0
print(datetime.fromtimestamp(t))

2015-04-19 12:20:00

## str转换为datetime

In [8]:
cday = datetime.strptime('2015-6-1 18:19:59', '%Y-%m-%d %H:%M:%S')
print(cday)

cday = datetime.strptime('2015-6-1', '%Y-%m-%d')
print(cday)

2015-06-01 18:19:59
2015-06-01 00:00:00

## datetime转换为str

In [21]:
now = datetime.now()
print(now)

2018-01-12 13:35:45.301952

In [22]:
print(now.strftime('%a, %b, %d %H:%M'))

Fri, Jan, 12 13:35

## datetime加减

In [24]:
from datetime import timedelta

In [27]:
now = datetime.now()
now

datetime.datetime(2018, 1, 12, 13, 38, 21, 805378)

In [28]:
now + timedelta(hours=10)

datetime.datetime(2018, 1, 12, 23, 38, 21, 805378)

In [29]:
now - timedelta(days=1)

datetime.datetime(2018, 1, 11, 13, 38, 21, 805378)

In [30]:
now + timedelta(days=2, hours=12)

datetime.datetime(2018, 1, 15, 1, 38, 21, 805378)

## 本地时间转换为UTC时间

In [31]:
from datetime import timezone

In [32]:
tz_utc_8 = timezone(timedelta(hours=8))

In [33]:
now = datetime.now()

In [34]:
now

datetime.datetime(2018, 1, 12, 13, 41, 25, 958449)

In [35]:
dt = now.replace(tzinfo=tz_utc_8)
dt

datetime.datetime(2018, 1, 12, 13, 41, 25, 958449, tzinfo=datetime.timezone(datetime.timedelta(0, 28800)))

## 时区转换

In [55]:
utc_dt = datetime.utcnow()
utc_dt

datetime.datetime(2018, 1, 12, 5, 47, 53, 768923)

In [56]:
datetime.now()

datetime.datetime(2018, 1, 12, 13, 48, 6, 549569)

In [57]:
utc_dt = datetime.utcnow().replace(tzinfo=timezone.utc)

In [58]:
utc_dt

datetime.datetime(2018, 1, 12, 5, 49, 3, 888436, tzinfo=datetime.timezone.utc)

In [61]:
# astimezone()将转换时区为北京时间:
bj_dt = utc_dt.astimezone(timezone(timedelta(hours=8)))
print(bj_dt)

2018-01-12 13:49:03.888436+08:00

In [60]:
# astimezone()将转换时区为东京时间:
tokyo_dt = utc_dt.astimezone(timezone(timedelta(hours=9)))
print(tokyo_dt)

2018-01-12 14:49:03.888436+09:00

In [62]:
# astimezone()将bj_dt转换时区为东京时间:
tokyo_dt2 = bj_dt.astimezone(timezone(timedelta(hours=9)))
print(tokyo_dt2)

2018-01-12 14:49:03.888436+09:00