# 其他有关pandas的话题

In [1]:
import numpy as np
import pandas as pd

## 整数索引

In [2]:
ser = pd.Series(np.arange(3.))

ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [3]:
ser[-1]

KeyError: -1

In [4]:
ser2 = pd.Series(np.arange(3.), index=['a','b','c'])

ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
ser2[-1]

2.0

In [6]:
ser.ix[:1]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

0    0.0
1    1.0
dtype: float64

In [9]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [10]:
ser.iloc[:2]

0    0.0
1    1.0
dtype: float64

In [11]:
ser3 = pd.Series(list(range(3)), index=[-5, 1, 3])

ser3

-5    0
 1    1
 3    2
dtype: int64

In [14]:
ser3.get_value(-5)

0

In [13]:
ser3.get_value(1)

1

In [15]:
ser3.get_value(3)

2

In [20]:
ser3.iloc[2]

2

In [17]:
frame = pd.DataFrame(np.arange(6).reshape(3, 2), index=[2, 0, 1])

frame

   0  1
2  0  1
0  2  3
1  4  5

In [19]:
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int32

## 面板数据