# 日期和时间数据类型及工具

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

now

datetime.datetime(2018, 4, 4, 9, 35, 46, 101379)

In [3]:
type(now)

datetime.datetime

In [4]:
print(now)

2018-04-04 09:35:46.101379

In [5]:
now.year, now.month, now.day

(2018, 4, 4)

datetime以毫秒形式存储日期和时间。datetime.timedelta表示两个datetime对象之间的时间差：

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

delta

datetime.timedelta(926, 56700)

In [7]:
type(delta)

datetime.timedelta

In [8]:
print(delta)

926 days, 15:45:00

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

可以给datetime对象加上（或减去）一个或多个timedelta，这样会产生一个新对象：

In [11]:
from datetime import timedelta

In [12]:
start = datetime(2011, 1, 7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

***表10-1：datetime模块中的数据类型***

| 类型 | 说明 |
| :-: | :-: |
| date | 以公历形式存储日历日期（年、月、日）|
| time | 将时间存储为时、分、秒、毫秒|
| datetime | 存储日期和时间 |
| timedelta | 表示两个datetime值之间的差（日、秒、毫秒） |

## 字符串和datetime的相互转换

利用str或strftime方法（传入一个格式化字符串）、datetime对象和pandas的Timestamp对象（稍后就会介绍）可以被格式化为字符串：

In [14]:
stamp = datetime(2011, 1, 3)

str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

***表10-2：datetime格式定义（兼容ISO C89）***

| 代码 | 说明 |
| :-: | :-: |
| %Y | 4位数的年 |
| %y | 2位数的年 |
| %m | 2位数的月[01, 12] |
| %d | 2位数的日[01, 31] |
| %H | 时（24小时制）[00,23] |
| %h | 时（12小时制）[01,12] |
| %M | 2位数的分[00,59] |
| %S | 秒[00,61]（秒60和61用于闰秒） |
| %w | 用整数表示的星期几[0（星期天）,6] |
| %U | 每年的第几周[00,53]。星期天被认为是每周的第一天，每年第一个星期天之前的那几天被认为是“第0周” |
| %W | 每年的第几周[00,53]。星期一被认为是每周的第一天，每年第一个星期一之前的那几天被认为是“第0周” |
| %z | 以+HHMM或-HHMM表示的UTC时区偏移量，如果时区为naive，则返回空字符串 |
| %F | %Y-%m-%d简写形式，例如2012-4-18 |
| %D | %m/%d/%y简写形式，例如04/18/12 |

datetime.strptime也可以用这些格式化编码将字符串转换为日期：

In [16]:
value = '2011-01-03'

datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ['7/6/2001', '8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2001, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

datetime.strptime是通过已知格式进行日期解析的最佳方式。但是每次都要编写格式定义是很麻烦的事情，尤其是对于一些常见的日期格式。这种情况下，你可以用dateutil这个第三方包中的parser.parse方法：

In [18]:
from dateutil.parser import parse

In [19]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [21]:
parse('6/12/2001', dayfirst=True)

datetime.datetime(2001, 12, 6, 0, 0)

pandas通常是用于处理成组日期的，不管这些日期是DataFrame的轴索引还是列。to_datetime方法可以解析多种不同的日期表示形式。对标准日期格式（如ISO8601）的解析非常快。

In [24]:
import numpy as np
import pandas as pd

In [25]:
datestrs

['7/6/2001', '8/6/2011']

In [26]:
pd.to_datetime(datestrs)

DatetimeIndex(['2001-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

它还可以处理缺失值（None、空字符串等）

In [27]:
idx = pd.to_datetime(datestrs + [None])

idx

DatetimeIndex(['2001-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
type(idx[2])

pandas._libs.tslib.NaTType

In [30]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

NaT（Not a Time）是pandas中时间戳数据的NA值。