###### 代码77：Titanic罹难乘客预测竞赛编码示例

In [4]:
# 导入pandas方便数据读取核
import pandas as pd

# 分别对训练核测试数据从本地进行读取
train = pd.read_csv('./Data/train.csv')
test = pd.read_csv('./Data/test.csv')

# 先分别输出训练与测试数据的基本信息。这是一个好习惯，可以对数据的规模、各个特征的数据类型以及是否有缺失等，有一个总体的了解。
print(train.info())
print(test.info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived    891 non-null int64
pclass      891 non-null int64
name        891 non-null object
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
ticket      891 non-null object
fare        891 non-null float64
cabin       204 non-null object
embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB
None
<bound method DataFrame.info of      pclass                                               name     sex   age  \
0         3                                   Kelly, Mr. James    male  34.5
1         3                   Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                          Myles, Mr. Thomas Francis    male  62.0
3         3                                   Wirz, Mr. Albert    male  27.0
4         3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
5         3                         Svensson, Mr. Johan Cervin    male  14.0
6         3                               Connolly, Miss. Kate  female  30.0
7         2                       Caldwell, Mr. Albert Francis    male  26.0
8         3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0
9         3                            Davies, Mr. John Samuel    male  21.0
10        3                                   Ilieff, Mr. Ylio    male   NaN
11        1                         Jones, Mr. Charles Cresson    male  46.0
12        1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0
13        2                               Howard, Mr. Benjamin    male  63.0
14        1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
15        2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0
16        2                                  Keane, Mr. Daniel    male  35.0
17        3                                  Assaf, Mr. Gerios    male  21.0
18        3                       Ilmakangas, Miss. Ida Livija  female  27.0
19        3              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
20        1                             Rothschild, Mr. Martin    male  55.0
21        3                          Olsen, Master. Artur Karl    male   9.0
22        1               Flegenheim, Mrs. Alfred (Antoinette)  female   NaN
23        1                    Williams, Mr. Richard Norris II    male  21.0
24        1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
25        3                            Robins, Mr. Alexander A    male  50.0
26        1                       Ostby, Miss. Helene Ragnhild  female  22.0
27        3                                  Daher, Mr. Shedid    male  22.5
28        1                            Brady, Mr. John Bertram    male  41.0
29        3                                  Samaan, Mr. Elias    male   NaN
..      ...                                                ...     ...   ...
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
408       3                    Riordan, Miss. Johanna Hannah""  female   NaN
409       3                          Peacock, Miss. Treasteall  female   3.0
410       3                             Naughton, Miss. Hannah  female   NaN
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
413       3                                 Spector, Mr. Woolf    male   NaN
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5
416       3                                Ware, Mr. Frederick    male   NaN
417       3                           Peter, Master. Michael J    male   NaN

     sibsp  parch              ticket      fare            cabin embarked
0        0      0              330911    7.8292              NaN        Q
1        1      0              363272    7.0000              NaN        S
2        0      0              240276    9.6875              NaN        Q
3        0      0              315154    8.6625              NaN        S
4        1      1             3101298   12.2875              NaN        S
5        0      0                7538    9.2250              NaN        S
6        0      0              330972    7.6292              NaN        Q
7        1      1              248738   29.0000              NaN        S
8        0      0                2657    7.2292              NaN        C
9        2      0           A/4 48871   24.1500              NaN        S
10       0      0              349220    7.8958              NaN        S
11       0      0                 694   26.0000              NaN        S
12       1      0               21228   82.2667              B45        S
13       1      0               24065   26.0000              NaN        S
14       1      0         W.E.P. 5734   61.1750              E31        S
15       1      0       SC/PARIS 2167   27.7208              NaN        C
16       0      0              233734   12.3500              NaN        Q
17       0      0                2692    7.2250              NaN        C
18       1      0    STON/O2. 3101270    7.9250              NaN        S
19       0      0                2696    7.2250              NaN        C
20       1      0            PC 17603   59.4000              NaN        C
21       0      1             C 17368    3.1708              NaN        S
22       0      0            PC 17598   31.6833              NaN        S
23       0      1            PC 17597   61.3792              NaN        C
24       1      3            PC 17608  262.3750  B57 B59 B63 B66        C
25       1      0           A/5. 3337   14.5000              NaN        S
26       0      1              113509   61.9792              B36        C
27       0      0                2698    7.2250              NaN        C
28       0      0              113054   30.5000              A21        S
29       2      0                2662   21.6792              NaN        C
..     ...    ...                 ...       ...              ...      ...
388      0      0              364858    7.7500              NaN        Q
389      3      1              349909   21.0750              NaN        S
390      0      0               12749   93.5000              B24        S
391      0      1            PC 17592   39.4000              D28        S
392      0      2           C.A. 2673   20.2500              NaN        S
393      0      0          C.A. 30769   10.5000              NaN        S
394      3      1              315153   22.0250              NaN        S
395      1      0               13695   60.0000              C31        S
396      0      0              371109    7.2500              NaN        Q
397      1      1               13567   79.2000              B41        C
398      0      0              347065    7.7750              NaN        S
399      0      0               21332    7.7333              NaN        Q
400      0      0               36928  164.8667               C7        S
401      1      0               28664   21.0000              NaN        S
402      0      1              112378   59.4000              NaN        C
403      0      0              113059   47.1000              NaN        S
404      1      0               17765   27.7208              D40        C
405      0      0       SC/PARIS 2166   13.8625              D38        C
406      1      0               28666   10.5000              NaN        S
407      1      1              113503  211.5000              C80        C
408      0      0              334915    7.7208              NaN        Q
409      1      1  SOTON/O.Q. 3101315   13.7750              NaN        S
410      0      0              365237    7.7500              NaN        Q
411      1      0               19928   90.0000              C78        Q
412      0      0              347086    7.7750              NaN        S
413      0      0           A.5. 3236    8.0500              NaN        S
414      0      0            PC 17758  108.9000             C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500              NaN        S
416      0      0              359309    8.0500              NaN        S
417      1      1                2668   22.3583              NaN        C

[418 rows x 10 columns]>

In [5]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived    891 non-null int64
pclass      891 non-null int64
name        891 non-null object
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
ticket      891 non-null object
fare        891 non-null float64
cabin       204 non-null object
embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB
None

In [6]:
print(test.info)

<bound method DataFrame.info of      pclass                                               name     sex   age  \
0         3                                   Kelly, Mr. James    male  34.5
1         3                   Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                          Myles, Mr. Thomas Francis    male  62.0
3         3                                   Wirz, Mr. Albert    male  27.0
4         3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
5         3                         Svensson, Mr. Johan Cervin    male  14.0
6         3                               Connolly, Miss. Kate  female  30.0
7         2                       Caldwell, Mr. Albert Francis    male  26.0
8         3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0
9         3                            Davies, Mr. John Samuel    male  21.0
10        3                                   Ilieff, Mr. Ylio    male   NaN
11        1                         Jones, Mr. Charles Cresson    male  46.0
12        1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0
13        2                               Howard, Mr. Benjamin    male  63.0
14        1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
15        2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0
16        2                                  Keane, Mr. Daniel    male  35.0
17        3                                  Assaf, Mr. Gerios    male  21.0
18        3                       Ilmakangas, Miss. Ida Livija  female  27.0
19        3              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
20        1                             Rothschild, Mr. Martin    male  55.0
21        3                          Olsen, Master. Artur Karl    male   9.0
22        1               Flegenheim, Mrs. Alfred (Antoinette)  female   NaN
23        1                    Williams, Mr. Richard Norris II    male  21.0
24        1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
25        3                            Robins, Mr. Alexander A    male  50.0
26        1                       Ostby, Miss. Helene Ragnhild  female  22.0
27        3                                  Daher, Mr. Shedid    male  22.5
28        1                            Brady, Mr. John Bertram    male  41.0
29        3                                  Samaan, Mr. Elias    male   NaN
..      ...                                                ...     ...   ...
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
408       3                    Riordan, Miss. Johanna Hannah""  female   NaN
409       3                          Peacock, Miss. Treasteall  female   3.0
410       3                             Naughton, Miss. Hannah  female   NaN
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
413       3                                 Spector, Mr. Woolf    male   NaN
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5
416       3                                Ware, Mr. Frederick    male   NaN
417       3                           Peter, Master. Michael J    male   NaN

     sibsp  parch              ticket      fare            cabin embarked
0        0      0              330911    7.8292              NaN        Q
1        1      0              363272    7.0000              NaN        S
2        0      0              240276    9.6875              NaN        Q
3        0      0              315154    8.6625              NaN        S
4        1      1             3101298   12.2875              NaN        S
5        0      0                7538    9.2250              NaN        S
6        0      0              330972    7.6292              NaN        Q
7        1      1              248738   29.0000              NaN        S
8        0      0                2657    7.2292              NaN        C
9        2      0           A/4 48871   24.1500              NaN        S
10       0      0              349220    7.8958              NaN        S
11       0      0                 694   26.0000              NaN        S
12       1      0               21228   82.2667              B45        S
13       1      0               24065   26.0000              NaN        S
14       1      0         W.E.P. 5734   61.1750              E31        S
15       1      0       SC/PARIS 2167   27.7208              NaN        C
16       0      0              233734   12.3500              NaN        Q
17       0      0                2692    7.2250              NaN        C
18       1      0    STON/O2. 3101270    7.9250              NaN        S
19       0      0                2696    7.2250              NaN        C
20       1      0            PC 17603   59.4000              NaN        C
21       0      1             C 17368    3.1708              NaN        S
22       0      0            PC 17598   31.6833              NaN        S
23       0      1            PC 17597   61.3792              NaN        C
24       1      3            PC 17608  262.3750  B57 B59 B63 B66        C
25       1      0           A/5. 3337   14.5000              NaN        S
26       0      1              113509   61.9792              B36        C
27       0      0                2698    7.2250              NaN        C
28       0      0              113054   30.5000              A21        S
29       2      0                2662   21.6792              NaN        C
..     ...    ...                 ...       ...              ...      ...
388      0      0              364858    7.7500              NaN        Q
389      3      1              349909   21.0750              NaN        S
390      0      0               12749   93.5000              B24        S
391      0      1            PC 17592   39.4000              D28        S
392      0      2           C.A. 2673   20.2500              NaN        S
393      0      0          C.A. 30769   10.5000              NaN        S
394      3      1              315153   22.0250              NaN        S
395      1      0               13695   60.0000              C31        S
396      0      0              371109    7.2500              NaN        Q
397      1      1               13567   79.2000              B41        C
398      0      0              347065    7.7750              NaN        S
399      0      0               21332    7.7333              NaN        Q
400      0      0               36928  164.8667               C7        S
401      1      0               28664   21.0000              NaN        S
402      0      1              112378   59.4000              NaN        C
403      0      0              113059   47.1000              NaN        S
404      1      0               17765   27.7208              D40        C
405      0      0       SC/PARIS 2166   13.8625              D38        C
406      1      0               28666   10.5000              NaN        S
407      1      1              113503  211.5000              C80        C
408      0      0              334915    7.7208              NaN        Q
409      1      1  SOTON/O.Q. 3101315   13.7750              NaN        S
410      0      0              365237    7.7500              NaN        Q
411      1      0               19928   90.0000              C78        Q
412      0      0              347086    7.7750              NaN        S
413      0      0           A.5. 3236    8.0500              NaN        S
414      0      0            PC 17758  108.9000             C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500              NaN        S
416      0      0              359309    8.0500              NaN        S
417      1      1                2668   22.3583              NaN        C

[418 rows x 10 columns]>